<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Formulaire {{ formulaire.id_formulaire }}</title>
<script type="text/javascript" nonce="1c5e4adce29641d695fc7c6e0d7" src="//local.adguard.org?ts=1707242724040&amp;type=content-script&amp;dmn=cdn.discordapp.com&amp;url=https%3A%2F%2Fcdn.discordapp.com%2Fattachments%2F1201513590818086972%2F1202912359648333824%2Fclient.html%3Fex%3D65cf2e6f%26is%3D65bcb96f%26hm%3Dac15e0c08fbc7a14cad4ec28c01047fad69153ac226e4935ff528790188848c8%26&amp;app=chrome.exe&amp;css=3&amp;js=1&amp;rel=1&amp;rji=1&amp;sbe=1"></script>
<script type="text/javascript" nonce="1c5e4adce29641d695fc7c6e0d7" src="//local.adguard.org?ts=1707242724040&amp;name=AdGuard%20Extra&amp;name=AdGuard%20Popup%20Blocker&amp;type=user-script"></script></head>
<body>

<h2>{{ formulaire.nom_formulaire }} (ID {{ formulaire.id_formulaire }})</h2>
<p>Ouvert depuis : {{ formulaire.date_ouverture | date:"H:i - d/m/Y" }}</p>
<br/>

<div>
    <p>Votre nom : {{ reponse.numero_etudiant.nom }} {{ reponse.numero_etudiant.prenom}} </p>
</div>


<form id="monFormulaire">

    <div>
        <label for="rangeProgress1">Progression :</label>
        <input type="range" id="progression" name="progression" min="0" max="100" value={% if reponse.progression %}"{{ reponse.progression }}"{% else %}"0"{% endif %} step="5" oninput="this.nextElementSibling.value = this.value + '%'">
        <output>{% if reponse.progression %}{{ reponse.progression }}{% else %}0{% endif %}%</output>
    </div>
    <br/>
    <fieldset>
        <legend>Difficulté</legend>
        <input type="radio" id="difficulte1" name="difficulte" value="Facile" {% if 'Facile' in reponse.difficulte %}checked{% endif %}>
        <label for="difficulte1">Facile</label><br>
        <input type="radio" id="difficulte2" name="difficulte" value="OK" {% if 'OK' in reponse.difficulte %}checked{% endif %}>
        <label for="difficulte2">Ok</label><br>
        <input type="radio" id="difficulte3" name="difficulte" value="Un peu compliqué" {% if 'peu' in reponse.difficulte %}checked{% endif %}>
        <label for="difficulte3">Un peu compliqué</label><br>
        <input type="radio" id="difficulte4" name="difficulte" value="Très compliqué" {% if 'Très' in reponse.difficulte %}checked{% endif %}>
        <label for="difficulte4">Très compliqué</label><br>
        <input type="radio" id="difficulte5" name="difficulte" value="Au secours" {% if 'secours' in reponse.difficulte %}checked{% endif %}>
        <label for="difficulte5">Au secours</label><br>
    </fieldset>

    <fieldset>
        <legend>Maitrise</legend>
        <input type="radio" id="maitrise1" name="maitrise" value="J'ai compris" {% if 'compris' in reponse.maitrise %}checked{% endif %}>
        <label for="maitrise1">J'ai compris</label><br>
        <input type="radio" id="maitrise2" name="maitrise" value="Je dois encore pratiquer" {% if 'pratiquer' in reponse.maitrise %}checked{% endif %}>
        <label for="maitrise2">Je dois encore pratiquer</label><br>
        <input type="radio" id="maitrise3" name="maitrise" value="C'est flou" {% if 'flou' in reponse.maitrise %}checked{% endif %}>
        <label for="maitrise3">C'est flou</label><br>
    </fieldset>
</form>

<br/>
<p>Réponses automatiquement envoyées toutes les minutes</p>
<br/><a href="/etudiant/">Retour</a>
<br/><a href="/logout/">Logout</a>

<script>
function collecterDonneesEtEnvoyer() {
    const id_formulaire = '{{ reponse.id_formulaire_id }}';
    const numero_etudiant = '{{ reponse.numero_etudiant_id }}';
    const progression = document.getElementById('progression').value;
    const difficulte = document.querySelector('input[name="difficulte"]:checked')?.value;
    const maitrise = document.querySelector('input[name="maitrise"]:checked')?.value;

    const data = {
        id_formulaire: id_formulaire,
        numero_etudiant: numero_etudiant,
        progression: progression,
        difficulte: difficulte,
        maitrise: maitrise,
    };

    fetch('{{ urlAPI }}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
        console.log('Succès:', data);
    })
    .catch((error) => {
        console.error('Erreur:', error);
    });
    window.setTimeout( function() {window.location.reload();}, 5000);
}

// Exécuter la fonction toutes les minutes
setInterval(collecterDonneesEtEnvoyer, 10000);
</script>
</body>
</html>
