<!-- Page de login des étudiants - url : '/login/' - view : etudiant_login - form : LoginForm() -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formulaire de Connexion</title>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/metro.css">
</head>
<body>
    <h1>Connexion</h1>
    <p>{{ message }}</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Se connecter</button>
      </form>
</body>
</html>